<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="layout.css">
</head>

<body>
    <header class="gray">
        <h1>Heading 1</h1>
        <p class="box">Subhead 'bout company.</p>
        <nav id="MainMenu">
            <ul>
                <li><a href="#">One</a></li>
                <li><a href="#">Two</a></li>
                <li><a href="#">Three</a></li>
                <li><a href="#">Four</a></li>
                <li><a href="#">Five</a></li>
            </ul>
        </nav>
    </header>
    <section id="FloatSection" class="clearfix">
        <h2 class="left-space">Float Columns</h2>
        <section class="column">
            <h3>Column 1</h3>
            <p>Lorem ipsum dolor sit amet, est oportere necessitatibus ne, per nonumy vidisse maiestatis cu, ea cum sententiae definiebas. Usu ei scaevola repudiandae, euismod pertinacia at vix. Numquam detraxit democritum nam cu. Novum altera placerat eam ad. Nonumy corpora mel id, usu nemore iuvaret pertinax ne.</p>
        </section>
         <section class="column">
            <h3>Column 2</h3>
            <p>Lorem ipsum dolor sit amet, est oportere necessitatibus ne, per nonumy vidisse maiestatis cu, ea cum sententiae definiebas. Usu ei scaevola repudiandae, euismod pertinacia at vix. Numquam detraxit democritum nam cu. Novum altera placerat eam ad. Nonumy corpora mel id, usu nemore iuvaret pertinax ne.</p>
        </section>
         <section class="column">
            <h3>Column 3</h3>
            <p>Lorem ipsum dolor sit amet, est oportere necessitatibus ne, per nonumy vidisse maiestatis cu, ea cum sententiae definiebas. Usu ei scaevola repudiandae, euismod pertinacia at vix. Numquam detraxit democritum nam cu. Novum altera placerat eam ad. Nonumy corpora mel id, usu nemore iuvaret pertinax ne.</p>
        </section>
    </section>
    <h2 class="left-space">Flex Columns</h2>
    <section class="flex-container">
        <section class="flex-column">
            <h3>Column 1</h3>
            <p>Lorem ipsum dolor sit amet, est oportere necessitatibus ne, per nonumy vidisse maiestatis cu, ea cum sententiae definiebas. Usu ei scaevola repudiandae, euismod pertinacia at vix. Numquam detraxit democritum nam cu. Novum altera placerat eam ad. Nonumy corpora mel id, usu nemore iuvaret pertinax ne.</p>
        </section>
         <section class="flex-column">
            <h3>Column 2</h3>
            <p>Lorem ipsum dolor sit amet, est oportere necessitatibus ne, per nonumy vidisse maiestatis cu, ea cum sententiae definiebas. Usu ei scaevola repudiandae, euismod pertinacia at vix. Numquam detraxit democritum nam cu. Novum altera placerat eam ad. Nonumy corpora mel id, usu nemore iuvaret pertinax ne.</p>
        </section>
         <section class="flex-column">
            <h3>Column 3</h3>
            <p>Lorem ipsum dolor sit amet, est oportere necessitatibus ne, per nonumy vidisse maiestatis cu, ea cum sententiae definiebas. Usu ei scaevola repudiandae, euismod pertinacia at vix. Numquam detraxit democritum nam cu. Novum altera placerat eam ad. Nonumy corpora mel id, usu nemore iuvaret pertinax ne.</p>
        </section>
    </section>
</body>

</html>